body {
    font-family: 'Josefin Sans', sans-serif;
    background: #fcfbfa;overflow-x: hidden;
}
.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 10px;
}
.card-container {
    width: 100%;
}
.cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}
.card {
    width: 30%;
    height: 50px;
    margin: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow;
    text-align: center;
}
.card:hover {
    transform: scale(103%);
}
.heading {
    font-size: 19px;
    width: 100%;
    border-bottom: 2px solid #000;
}
a {
    color: #000;
    outline: none;
    text-decoration: none;
}